doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(rel='javascript', src='/javascripts/bootstrap.min.js')
        script(rel='javascript', src='/javascripts/jquery-1.7.1.min.js')
    body
        block content