.header{
    height: 50px;
    text-align: center;
}
.header-nav{
    position:absolute;
    width:99%;
    background:#F4F4F4;
    border-bottom:1px solid #999;
}
.header-nav ul{
    margin:0;
    padding:10px 5px 0 12px;
    list-style: none;
}
.header-nav ul li{
    float:left;
    margin:0;
    padding:0;
}
.header-nav a{
    display:block;
    background:url("/img/tabbgl.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 4px;
    text-decoration:none;
}
.header-nav span{
    float:left;
    display:block;
    background:url("/img/tabbgr.gif") no-repeat right top;
    padding:5px 9px 2px 5px;
    color:#666;
}
.header-nav a span {float:none;}
.header-nav a:hover span{
    color:#FFF;
}
.header-nav a:hover{
    background-position:0% -42px;
}
.header-nav a:hover span{
    background-position:100% -42px;
}
.filedrag
{
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
    height: 100px;
    width: 800px;
}

.filedrag:hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

img
{
    max-width: 100%;
}

pre
{
    width: 95%;
    height: 8em;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

.messages
{
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid #999;
    width: 800px;
}

.ListViewFile
{
    padding: 0 10px;
    margin: 1em 0;
    border: 1px solid #999;
    height: 100px;
    width: 800px;
}

.progress p
{
    display: block;
    width: 240px;
    padding: 2px 5px;
    margin: 2px 0;
    border: 1px inset #446;
    border-radius: 5px;
    background: #eee url("progress.png") 100% 0 repeat-y;
}

.progress p.success
{
    background: #0c0 none 0 0 no-repeat;
}

.progress p.failed
{
    background: #c00 none 0 0 no-repeat;
}
.progressNumber
{
    background: green;
    height: 8px;
    width: 0%;
}

table.DetailsTable
{
    font: .75em Tahoma, Arial, Sans-Serif;
    color: #060606;
    background-color: #FCFDFE;
    border: 1px solid #a0a0c0;
    border-collapse:collapse;
    width: 98%;
}

table.DetailsTable td
{
    border:dotted 1px #a0a0a0;
    padding:5px 2px 5px 5px;
}

table.DetailsTable td.LightHeader
{
    font-weight: 600;
    /*
    background: url(DynamicData/Content/Images/header_back.gif) repeat-x;
    background: -moz-linear-gradient(90deg, rgb(247,247,255), rgb(235,235,255));
    */
}

table.DetailsTable td.LightHeader_width
{
    font-weight: 600;
    width:150px;
    /*
    background: url(DynamicData/Content/Images/header_back.gif) repeat-x;
    background: -moz-linear-gradient(90deg, rgb(247,247,255), rgb(235,235,255));
    */
}

table.GridView2
{
    color: #060606;
    border-width: 0px;
    border-collapse: collapse;
    font: .75em Tahoma, Arial, Sans-Serif;
    width: 98%;
}

table.GridView2 tr
{
    border-bottom: 1px dotted #c8c8c8;
}

table.GridView2 tr th
{
    font-weight: 600;
    color: #808080;
}

table.GridView2 th, table.GridView2 td
{
    border: 0px dotted #c8c8c8;
    height: 22px;
}

table.DetailsHeader
{
    border: 0px solid gray;
    border-width: 0px;
    padding: 0px;
    margin: 9px 0px 3px 0px;
    border-collapse: collapse;
    width: 98%;
}

table.DetailsHeader td.LastColumn
{
    font-size: 0.75em;
    padding-right: 0px;
    text-align: right;
}

table.DetailsHeader td.FirstColumn
{
    font-size: 0.9em;
    font-weight: 600;
    height: 20px;
    padding-left: 0px;
    text-align: left;
}
